/target
.DS_Store
.idea/
dependency-reduced-pom.xml
src/.DS_Store
src/main/.DS_Store

# ignore 老师给的数据和Xact文件
*_files*/
# 删除列之后的，数据文件

# 集群配置文件
# *.conf

# -- 基于前置表已经建好了之后，的小表, 导出为csv一劳永逸 -- 为了cql
db_sql_join_subtb_4cql/

# ignore log files
log*txt*
